<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bought!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{../bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <h1><center>Thanks for buying your tickets</center></h1>
        <center><a th:href="@{/movielist}" class="btn btn-cs btn-danger">Take me back</a></center>
    </div>
</div>
</body>
</html>