<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Ticketbuy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{../bootstrap.min.css}"  />
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <h1>Add a movie</h1>
        <form th:object="${movie}">
            <label for="id"></label>
            <input type="hidden" id="id" th:field="*{id}" readonly="readonly"/>
            <div style="clear: both; display: block; height: 10px;"></div>
            <label>Title</label>
            <input type="text" id="name" th:field="*{name}" disabled="disabled"/>
            <div style="clear: both; display: block; height: 10px;"></div>
            <label for="duration">Duration (min)</label>
            <input type="text" id="duration" th:field="*{duration}" disabled="disabled"/>
            <div style="clear: both; display: block; height: 10px;"></div>
            <label for="rating">Rating</label>
            <input type="text" id="rating" th:field="*{rating}" disabled="disabled"/>
            <div style="clear: both; display: block; height: 10px;"></div>

            <label>Amount of tickets: </label>
            <select>
                <option th:each="n : ${#numbers.sequence(1,10)}" th:value="${n}" th:text="${n}"/>
            </select>
            <div style="clear: both; display: block; height: 10px;"></div>
            <a th:href="@{/bought}" class="btn btn-cs btn-success">BUY!</a>
        </form>
    </div>
</div>
</body>
</html>